body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

#month-picker-wrapper {
  position: relative;
  padding-top: 2rem;
}

#month-picker {
  position: fixed;
  top: 0;
  left: 0;
}

#month-picker-select {
  font-family: inherit;
  font-size: inherit;
}

#month-picker-display {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  overflow-y: scroll;
}

#month-picker-display table {
  margin-bottom: 1rem;
}

#month-picker-display caption,
#month-picker-display td,
#month-picker-display th {
  text-align: left;
}

#month-picker-display caption {
  text-decoration: underline;
}

#month-picker-display pre {
  display: block;
  margin-top: 0;
}
