body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

#month-picker-wrapper {
  position: relative;
  padding-top: 1rem;
}

#month-picker {
  position: fixed;
  top: 0;
  left: 0;
}

#month-picker-select {
  font-family: inherit;
  font-size: inherit;
}

#month-picker-display {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  display: block;
  overflow-y: scroll;
}
